# Database
DB_HOST=192.168.146.128
DB_PORT=3306
DB_USER=wanghai
DB_PASSWORD=change_me_local_only
DB_NAME=sharele

# App
PORT=3000
JWT_SECRET=change_me

# AMap
AMAP_KEY=61131aea053ef9adb2cad398e64f9608
AMAP_SECURITY_JS_CODE=5378ba8bac7a0ce58b3b36999f451d50
